<% if flash[:alert] %>
<div id="notice"><%= flash[:alert] %></div>
<% end %>
<br>
<h1>Login ログイン</h1>
<br>
<%= form_tag do %>
<div class="order_form">
	<fieldset>
		<legend>ログインして下さい。</legend>
		<br>
		<div>
			<%= label_tag :name, 'ユーザ名' %>
			<%= text_field_tag :name, params[:name] %>
		</div>
		<div>
			<%= label_tag :password, 'パスワード' %>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div>
		<br>
			<%= submit_tag "ログイン" %>
		</div>
	</fieldset>
</div>
<% end %>